body{
  margin: 0;
  height: 100%;
  position: relative;
}


#background{
  background: radial-gradient( #ee7752, #e73c7e, #23a6d5, #23d5ab);
  position: fixed;
  background-size: 400% 400%;
  /*animation: gradient 8s ease infinite;*/
  margin: 0;
  background-position: var(--xpos, 100%) var(--ypos, 50%);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.text{
  font-size: 2rem;
  color: white;
  z-index: 10; /* make sure it's above the background */
  position: relative;
}
/*
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
*/
  